<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- create condition for title -->
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Document</title>
    {% endif %}
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstraph.min.css') }}"> -->
</head>

<body>
    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="modal fade" id="flashModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Pesan Flash</h5>
                        <button class="close" type="button" onclick="menutup()" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">
                                &times;
                            </span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="flash">
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" onclick="menutup()" type="button" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endwith %}

        {% block content %}

        {% endblock %}
    </div>

    <script>
        function menutup(){
            $('#flashModal').modal('hide')
        }
        $(document).ready(function () {
            $('#flashModal').modal('show');
        })
    </script>
</body>

</html>