{% extends 'base.html' %}

{% block content %}
<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    .h-custom {
        height: calc(100% - 73px);
    }

    @media (max-width: 450px) {
        .h-custom {
            height: 100%;
        }
    }
</style>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center mt-5">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="{{ url_for('static', filename='img/coconut.png') }}"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Masuk sebagai calgot</p>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        {{ form.username(class='form-control form-control-lg', placeholder='Masukkan Nama') }}
                        <label class="form-label" for="username">Nama Calgot</label>
                        {% for error in form.username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        {{ form.password(class='form-control form-control-lg', placeholder='Masukkan Password') }}
                        <label class="form-label" for="form3Example4">Password</label>
                        {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            {{ form.remember_me(class='form-check-input me-2') }}
                            <label class="form-check-label" for="remember_me">
                                Remember me
                            </label>
                        </div>
                        <a href="#!" class="text-body">Lupa Password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        {{ form.submit(class='btn btn-primary btn-lg', style='padding-left: 2.5rem; padding-right: 2.5rem;') }}

                        <p class="small fw-bold mt-2 pt-1 mb-0">Belum mendaftar? <a href="{{ url_for('mendaftar') }}"
                                class="link-primary">Mendaftar</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}