

<!--Main Navigation-->
<header>
    <style>
        .logo {
            margin-right: 2rem;
            width: 9rem;
            height: 3rem;
        }

        .path {
            margin-top: 0.3rem;
            margin-bottom: 0;
        }

        .user {
            margin: 3% 0 0 5%;
        }

        .fixed-bottom{
            z-index: -1;
        }
    </style>
    <!-- Heading -->
    <div class="p-3 mb-1">
        <div class="d-flex">
            <img class="logo" src="{{ url_for('static', filename='img/coconut.png') }}" alt="">
            <div class="d-block">
                <div class="d-flex">
                    {% if title %}
                        <h5 class="path">{{ title }}</h5>
                    {% else %}
                        <h5 class="path">Dasboard</h5>
                    {% endif %}
                    <h6 class="user text-primary">{{ current_user.username.upper() }}</h6>
                </div>
                <!-- Breadcrumb -->
                <nav class="d-flex">
                    <h6 class="mb-0">
                        <a href="{{ url_for('logout')}}" class="text-reset">Home</a>
                        <span>/</span>
                        {% if current_user.face_prediksi == 0 %}
                            <a href="{{ url_for('user_dataset') }}" class="text-reset">Add Dataset</a>
                            <span>/</span>
                        {% endif %}
                        {% if current_user.face_prediksi > 50 %}
                            <a href="{{ url_for('user_dataset') }}" class="text-reset">Training Dataset</a>
                            <span>/</span>
                        {% endif %}
                        <a href="" class="text-reset"><u>Dashboard</u></a>
                        <span>/</span>
                        <a href="{{ url_for('logout')}}" class="text-reset">Logout</a>
                    </h6>
                </nav>
            </div>
        </div>
        <!-- Breadcrumb -->
    </div>
    <!-- Heading -->
</header>
<!--Main Navigation-->


<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark">
    <footer class="text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3">
          © 2020 Coconut Lab • Crafted with ❤️ by
          <a class="text-dark" href="https:/coconut.or.id">Coconut</a>
        </div>
        <!-- Copyright -->
      </footer>
</nav>

<!-- <div
class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
<div class="text-white mb-3 mb-md-0">
    Copyright © 2020. All rights reserved.
</div>
<div>
    <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
    </a>
    <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
    </a>
</div>
</div> -->